geopandas==0.14.4
matplotlib==3.8.4
Mesa==2.1
Mesa_Geo==0.7.1
networkx==3.3
numpy==2.2.4
osmnx==2.0.2
pandas==2.2.3
pointpats==2.4.0
pyproj==3.6.1
python_igraph==0.11.8
scipy==1.15.2
seaborn==0.13.2
Shapely==2.1.0
